.filter {
  position: relative;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.action {
  position: relative;
  top: 30%;
  text-align: center;
}

.button button {
  border: 0;
}

.options {
  text-align: center;
}

.checkbox {
  color: #111e6c;
  text-align: justify;
}

button {
  size: 50px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #ef434e;
}
